// TODO

.image {
    width: 1440px;
    height: 380px;
    max-width: 100%;
    
    @media (max-width: 890px){
        max-height: 30vh;
    }

    @media (max-width: 700px){
        width: 100%;
        display: none;
        background-color: aqua;
    }
}

section.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    margin: 30px auto;

    @media (max-width: 800px){
        width: 90%;
    }


    h1 {
        color: var(--Heading);
        font-size: 48px;
    }

    h2 {
        color: var(--Heading);
        font-size: 36px;
    }

    section.about {
        display: flex;
        align-items: center;
        color: var(--Info);
        width: 470px;
        gap: 40px;

        @media(max-width: 700px){
            flex-wrap: wrap;
            width: 95%;
            gap: 30px;
        }

        div {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    section.group_content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-top: 40px;


        article.group{
            display: flex;
            flex-direction: column;

            gap: 35px;

            p {
                color: var(--Body);
                margin-bottom: 25px;
            }
        }
    }
}